@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    border-style: none;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background:#000 url(../img/abstract-dark-background.jpg) center center / cover no-repeat fixed;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

.flexbox {
    display: flex;
}

/*- - - - - - - - Header - - - - - - - -*/

header {
    background-color: transparent;
    height: 60px;
    overflow: hidden;
}

header div {
    width: 100%;
}

h1 {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    overflow: hidden;
}

/* - - - - - - Main - - - - - - - - - - */

main {
    height: calc(100dvh - 60px - 80px); 
}

.center h2 {
    color: #fff;
    font-size: 50px;

}

.center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section div {
    margin-top: 20px;
}

.center section div a {
    position: relative;
    font-size: 14px;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    padding: 12px 28px;
    border-radius: 50px;
}

.center div a:hover {
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    z-index: 1;
    animation: glow 8s linear infinite;
}

@keyframes glow {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}

.center div a:before {
    content: '';
    position: absolute;
    background: inherit;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    border-radius: 50px;
    filter: blur(10px);
    opacity: 0;
    transition: opacity 0.5s;
}

.center div a:hover:before {
    opacity: 1;
    z-index: -1;
}

/* - - - - - - - Footer - - - - - - - - */

footer {
    background-color: transparent;
    padding: 10px 0;
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;

}

.container {
    display: flex;
    align-items: center;
}

.wrapper {
    width: 100%;
    text-align: center;
}

.wrapper .button {
    color: #000;
    width: 40px;
    height: 40px;
    text-decoration: none;
    display:inline-block;
    margin: 0 5px;
    cursor: pointer;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    box-shadow: 0px 10px 10px rgba(1, 1, 1, 0.1);
    transition: all 0.25s ease-in-out;
}

.wrapper .button:hover {
    width: 200px;
}

.wrapper .button .icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    text-align: center;
    box-sizing: border-box;
    line-height: 40px;
}

.wrapper .button .icon i {
    font-size: 18px;
    line-height: 40px;
}

.wrapper .button span {
    font-size: 16px;
    line-height: 40px;
    margin-left: 10px;
}

.wrapper i {
    font-size: 24px;
}